.swiper-container {
    padding-top: 236px;
}
.swiper-slider{
width: 270px !important;
    height: 416px !important;
    border-radius: 20px;
}
.slide-1 {
    background: url('../../images/Rectangle\ 1.png') center/cover;
    width: 270px !important;
    height: 416px !important;
    border-radius: 20px;
}

.slide-2 {
    background: url('../../images/Sajek.png') center/cover;
    width: 270px !important;
    height: 416px !important;
    border-radius: 20px;
}

.slide-3 {
    background: url('../../images/Sreemongol.png') center/cover;
    width: 270px !important;
    height: 416px !important;
    border-radius: 20px;
}

.slide-4 {
    background: url('../../images/sundorbon.png') center/cover;
    width: 270px !important;
    height: 416px !important;
    border-radius: 20px;
}

.slide-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(0.12deg, #000000 0.1%, rgba(0, 0, 0, 0) 69.96%);
}